img{
    width: 400px;
    height: 200px;
    object-fit: cover;
}
.remove{
    display: none;
}
.card{
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
} 
btn:hover{
 background-color: aliceblue;
 color: black;
}